@media only screen and (min-width: 620px){
	*{
		margin: 0; padding: 0; box-sizing: border-box; 
	}
	body{
		margin: auto; width: 80%; padding: 0; align-content: center;  font-family: sans-serif;
	}
	.hoja { width: 100%; height: auto; margin: 10px 0 10px 0; box-shadow: 2px 2px gray, 0.2em 0 1em gray;}

	.barratitulo{ width: 100%; display: inline-flex; margin: 20px 10px 20px 10px; }
	.logo{ width: 100%; height: 40px; display: inline-flex; align-items: center; }
	.logo img{ width: 40px; height: 32px; margin-right: 5px}
	.textologo{ height: 40px; line-height: 40px}
	.menuopciones { width: 100%; text-align: right; font-size: 15px}
	.menuopciones li{ margin-right: 30px; display: inline-flex; text-align: left; height: 40px; line-height: 40px; }
	.menuopciones li:hover{ color: #ef9c00; font-weight: bold; font-size: 15px; text-shadow: 1px 0 #ef9c00, 0 1px #ef9c00,
1px 0 #ef9c00, 0 -1px #ef9c00} /* cambiar color del menu */

	.banner{ position: relative; text-align: center; }
	.banner p{ font-size: 40px; color: white; font-weight: bold; }
	.textotitulobanner{ position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); text-shadow: -4px 3px 0 #1b3380, -10px 7px 0 #0a0e27; }

	.primeraentrada{ margin: 45px; display: inline-flex; height: 150px; align-items: center;}
	.textoapp1{ margin-left: 15px; vertical-align: middle; font-size: 15px}
	.textoapp1 h3{ margin-bottom: 20px }

	.cuerpo{  height: 500px; }
	.medioscontacto{ margin-left: 45px; margin-right: 45px; display: inline-flex; height: 150px; align-items: center; }
	.medioscontacto p{ margin-left: 15px }

}